<template name="login">
  <img class="title-image" width="256px" src="/images/logo-title-light.png" alt="Nameless"/>
  <div class="errors">
    {{errors}}
  </div>
  <form class="form">
    <div id="login-email-input">
      <i class="fa fa-user"></i>
      <input id="login-email" type="email" placeholder="Email">
    </div>
    <div id="login-password-input">
      <i class="fa fa-lock"></i>
      <input id="login-password" type="password" placeholder="Password">
    </div>
    <div class="login-button login-button-form-submit" id="login-buttons-password">
      <button id="login-button" class="btn-primary">Login</button>
    </div>
  </form>
  <div class="additional-link-container">
    <button id="signup-button" class="btn-secondary">Create account</button>
  </div>
</template>
